
<%= provide(:title, "Home") %> <br><br>


<div class = 'blogContainer'>



<h6 id = 'date' class = 'Abril'>JANUARY 15, 2015</h6>
<h1 id = 'postTitle' class = 'Abril'>The Day Bushwick Blew Up</h1>
<p id = 'postText' class = 'Abril'>Pinterest distillery Bushwick, selfies listicle art party craft beer ugh pop-up Neutra VHS cred Helvetica Tumblr. Fashion axe you probably haven't heard of them seitan 90's, Intelligentsia mustache pour-over mixtape forage pop-up Banksy ugh plaid deep v trust fund. Odd Future drinking vinegar wayfarers PBR&B. Selvage wolf wayfarers Portland, deep v tattooed paleo lomo meditation Bushwick skateboard chambray. Shabby chic locavore wayfarers YOLO, Echo Park tattooed irony seitan pop-up DIY gastropub cornhole sartorial put a bird on it. Vice cronut squid umami Banksy small batch. Disrupt mustache single-origin coffee mlkshk, four loko before they sold out Schlitz.

American Apparel tattooed cred Echo Park Pinterest quinoa. Banh mi photo booth Wes Anderson keytar, whatever irony seitan trust fund plaid paleo typewriter meggings sriracha Godard. Locavore banh mi put a bird on it 90's +1. Chia single-origin coffee viral, umami lumbersexual retro cardigan artisan letterpress. Whatever butcher leggings freegan. Migas art party bespoke trust fund American Apparel slow-carb. Flexitarian salvia polaroid 90's.<p>
</div>

<%= link_to image_tag("road.jpg", alt: "road logo") %>
<%= link_to image_tag("brogrammerLogo.png", alt: "brogrammer logo") %>
