<%= provide(:title, "Home") %> <br><br>


<div class = 'blogContainer'>
<h6 id = 'date' class = 'Abril'>JANUARY 15, 2015</h6>
<h1 id = 'postTitle' class = 'Abril'>A Letter To The Community</h1>
<p id = 'postText' class = 'Abril'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis inventore non dolore asperiores sit minima repellat reiciendis. Deserunt accusamus consequatur assumenda, recusandae nihil officia earum libero, doloremque consequuntur quae vero.<p>
</div>

<%= link_to image_tag("road.jpg", alt: "road logo") %>
<%= link_to image_tag("brogrammerLogo.png", alt: "brogrammer logo") %>
