@import "bootstrap-sprockets";
@import "bootstrap";



/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
 
}
￼

/* header my #logo is no longer working */

#jumbotron {
  
  margin-left: 225px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  font-size: 12px;
}


#logo {
  
  margin-left: 225px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  font-size: 64px;
}


/**#####Dropdown Styling####**/


.dropdownMenu1 {
  float: right;
  

}

/******* Button Styling ********/



#buttonContainer {
  margin-left: 370px;
  height: 100px;
  width: 400px;

}

.btn {
  display: inline-block;
  border: 1px solid #e4e4e4;
  padding: 4px 18px 4px 18px;
  border-radius: 30px;
  line-height: 20px;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.2s;
  background-color: white;
  margin-top: 75px;
}

.btn:hover {
  background-color: #EFEFEF;
  .link {
  text-decoration: none;
  }
}



/* Posts */


.abril {
  font-family: 'Abril Fatface', 
}

#postText {
  -webkit-font-smoothing: antialiased;
  text-align: left;   
}

#postTitle {
  text-align: left;
  font-size: 40px;
}

#date {
  margin-right: 375px;
}

/* Blog container */

.blogContainer {
  text-align: left;
  height: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;

  }

p {
font-size: 1.1em; line-height: 1.7em;
}

/********* Avatar Styling ********/

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;

      margin-top: 20px;
    &:first-child {
border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
}
h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }  
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


