@import "bootstrap-sprockets";
@import "bootstrap";



/* header */

#logo {
  
  margin-left: 225px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  font-size: 64px;
}

#logo:hover {
  text-color: #FF0042;
}

/* button styling */

#hamburger a {

  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

#hamburgerHelper {
  margin-left: 800px;
}

#buttonContainer {
  margin-left: 370px;
}

.btn {
  display: inline-block;
  border: 1px solid #e4e4e4;
  padding: 4px 18px 4px 18px;
  border-radius: 30px;
  line-height: 20px;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.2s;
  background-color: white;
  margin-top: 75px;
}

.btn:hover{
  background-color: #FF0042;
}



/* Posts */


.abril {
  font-family: 'Abril Fatface', 
}

#postText {
  -webkit-font-smoothing: antialiased;
  text-align: left;   
}

#postTitle {
  text-align: left;
  font-size: 40px;
}

#date {
  margin-right: 375px;
}

/* Blog container */

.blogContainer {
  text-align: left;
  height: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;

  }

p {
font-size: 1.1em; line-height: 1.7em;
}




