 <header class="navbar navbar-fixed-top navbar" > <!-- -inverse -->
      <div class="container">
				<%= link_to "Brogrammr", 'home_path', id: "logo" %> 

	
  
    
  
  <!--   ########## The Bootstrap menu dropdown ########### -->
    
   <!-- Small button group -->
  <!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">=</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">=</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Log-in</a></li>
    <li><a href="#">Contribute</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>



  

			

